/* Основной контейнер для сайдбара и контента */
.main-content {
  display: flex; /* Располагаем сайдбар и основной контент в строку */
  flex-grow: 1;
  width: 100%;
  overflow: hidden; /* Чтобы предотвратить переполнение */
}
