/* Модальное окно */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: clip;
    background-color: #C3C3C3B2;
    backdrop-filter: blur(5px)
<<<<<<< Updated upstream
  }
=======
  }
  
  
>>>>>>> Stashed changes
